body{
    font-family: 'Poppins', sans-serif; ;
}
.container{
    max-width: 1200px;
}
.mynavbar{
    background-color: #4741AF;
    color: white;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.navbar-brand{
    color: white;
    font-weight: 700;
    font-size: 40px;
}
.banner{
    background-color: #4741AF;
        color: white;
}
.main-title{
    font-size: 72px;
    font-weight: 700;
}
.sub-title{
    font-size: 25px;
    font-weight: 400;
}
.main-btn{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background: color #6c63ff;
    padding: 15px 50px;
    border-radius: 35px;
}
.about-image{
margin-left: -340px;
}
.sub-style{
    color: #6c63ff;
font-weight: 700;
font-size: 24px;
line-height: 2;
}
.subtitle-style{
    font-size: 21px;
    font-weight: 700px;
}
.title-style{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;

}
.p-style{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font color: #666666;
    font weight: 400px;
    line height: 28px;


}
.main-style{
    color: #666666;
    line-height: 1.55;
}
.link-style{
    color: black;
    font-weight: 700;

}
.service-image{
    border-radius: 50%;
    background-color: rgb(243, 249, 251);
}
.service-img{
    margin-top: 100px;
}
.service-icon{
    background-color: #6c63ff;
    padding: 15px;
    width: 55px;
    border-radius: 50%;

}
